

li{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    color: white;
    
}

body{
    background: #EDEDED;
}
.menu{
    
  display: flex;
  justify-content: space-between;
  direction: rtl;
  top: 20%;
  background-color: #301445;
  color: white;
  top: 10%;
  margin-top: -2.5em;

}

h1{
    font-size: 48px;
    color:#E97051;
    padding: 0px;
    font-family: arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.checkbox{
    text-align: center;


 }

p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 15px;

}

input{
    width: 400px;
}


/* .menu {
    flex-direction: row-reverse;
    position: fixed;
    right: 10;
    background: #301445;
    color: white;
    top: 20%;
    margin-top: -2.5em;
    
  } */

footer {
    width: 100%;
    bottom: 0;
    right: 0;
    background: #301445;
    color: white;
    height: 60px;
    margin: ;
}

.rodape{
    text-align: center;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif
}