{% extends 'global_template.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
  <h1>Cadastre seu endereço</h1>
  {% if request.user.is_anonymous %}
    <h2> Faça o login registrar um endereco </h2>
  {% else %}
  <form action="submit" method="post" style="display: flex; justify-content:center">
    <div class="form-control form-control-sm w-75" >
      {%  csrf_token  %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary w-25" value="Cadastrar Endereço" style="display: flex; justify-content:center">
    </div>
  </form>
  {% endif %}
{% endblock %}

