{% extends 'global_template.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content %}
    <h2>Produto</h2>
    <h3>{{produto.nome_produto}}</h3>
    <h3>{{produto.descricao_produto}}</h3>
    <h3>{{produto.tipo_produto}}</h3>
    <h3>{{produto.user_produtor}}</h3>
    <h3>{{produto.id}}</h3>
    <h3>{{produto}}</h3>

    <input type="hidden" name='prod_id' id='prod_id' value="{{produto.id}}">

    <h2>Formulário de Review</h2>
    <form class="review-form" action="{% url 'submit_review' produto.id %}" method="POST" style="display: flex; justify-content:center">
        {% csrf_token %}
        <textarea class="form-control" name="texto_avaliacao" id='texto_avaliacao' rows="3" placeholder="Sua avaliacao"></textarea>
        {% comment %} <textarea class="input" name="texto_avaliacao" id='texto_avaliacao' cols="30" rows="10" placeholder="Sua avaliacao"></textarea> {% endcomment %}
        {% comment %} <input type="number" id="nota_avaliacao" name="nota_avaliacao" min="1" max="5"> {% endcomment %}
        <div class="rating">
            <input type="radio" name="nota_avaliacao" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="nota_avaliacao" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="nota_avaliacao" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="nota_avaliacao" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="nota_avaliacao" value="1" id="1"><label for="1">☆</label>
        </div>
        <input type="submit" class="btn btn-primary w-25" value="Enviar Avaliacao" >
    </form>
    <a href="/">Voltar</a>
{% endblock %}

