{% extends 'global_template.html' %}
{% load bootstrap5 %}
{% block content%}
<body>
  <h1> Atualizar Produto </h1>
  <div class="container">
    <form action="{% url 'alterar_dados_produto' produto.id %}" method= "POST" style="display: flex; justify-content:center" >
        <div class="form-control form-control-sm w-75" >
          {% csrf_token %}
          {% bootstrap_form form_produto %}
          <input type="submit" class="btn btn-primary w-25" value="Atualizar" style="display: flex; justify-content:center">
        </div>
    </form>
    <h2> <a href="{% url 'minha_conta' id=user_ref.id %}">voltar</a><h2>
  </div>
{% endblock%}
