{% extends 'global_template.html' %}

{% block content %}
  <div id='login' class="container">
    <h1> Login </h1>
    <form action="/login/submit/" method= "post" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="usuario"> Usuario</label><br>
        <input type="text" name="usuario" value=""><br>
        <label for="senha"> Senha</label><br>
        <input type="password" name="senha" value=""><br>
        <input type="submit" class="btn btn-primary" value="Submit"><br>
  </div>
{% endblock %}
