{% extends 'global_template.html' %}
{% block content %}
    <h2>Minha conta</h2>
    <h3>{{user.first_name}}</h3>
    <h3>{{user.usuario_pequi.DOC_Usuario}}</h3>
    <h3>{{user.last_name}}</h3>
    <h3>{{user.last_login}}</h3>
    <h2>Edite seus dados <a href="{% url 'alterar_dados_conta'%}">aqui</a> </h2>
<h2>Produtos</h2>
<table>
    <tr>
        <th>Nome do produto</th>
        <th>Descrição</th>
        <th>Tipo Produto</th>
        <th>Produtor</th>
        <th>Editar Dados</th>
      </tr>
    {% for produto in produtos_usuario %}
    <tr>
        <th>{{produto.nome_produto}}</a></th>
        <th>{{produto.descricao_produto}}</th>
        <th>{{produto.tipo_produto}}</th>
        <th>{{produto.user_produtor}}</th>
        <th><a href="{% url 'alterar_dados_produto' produto.id %}">Editar Produto</a> </th>
    </tr>
    {% endfor %}
</table>
{% endblock %}

