{% extends 'global_template.html' %}
{% load static %}
{% block content %}

    <div class="perfil_container">
        <div class="perfil_info">
            <div class="perfil_foto">
                <img class="foto_perfil" src="{% static 'img/avatar2.png' %}" alt="profile_photo">
            </div>
            <div class="perfil_data">
                <div class="perfil_data_section">
                    <h5>{{user.first_name}}</h5>
                </div>
                <div class="perfil_data_section">
                    <h5>{{user.last_name}}</h5>
                </div>
                <div class="perfil_data_section">
                    <h5>{{user.usuario_pequi.DOC_Usuario}}</h5>
                </div>
                <div class="perfil_data_section">
                    <h5>{{user.last_login}}</h5>
                </div>
                <div class="perfil_data_section">
                    <h5>{{user.last_login}}</h5>
                </div>
                <div class="edit_profile">
                    <h3>Edite seus dados <a href="{% url 'alterar_dados_conta'%}">aqui</a> </h3>
                </div>
                <div class="add_contato">
                    <h3> Cadastre o Contato<a href="/contato/"> Aqui </a><h3>
                </div>
            </div>

        </div>
        <div class="perfil_items">
            <div class="perfil_items_contatos">
            </div>
            <div class="perfil_items_produtos">

            </div>

        </div>
    </div>
    <h2>Minha conta</h2>
    <h3>{{user.first_name}}</h3>
    <h3>{{user.usuario_pequi.DOC_Usuario}}</h3>
    <h3>{{user.last_name}}</h3>
    <h3>{{user.last_login}}</h3>
    <h2>Edite seus dados <a href="{% url 'alterar_dados_conta'%}">aqui</a> </h2>
    <h3> Cadastre o endereco<a href="/endereco/"> Aqui </a><h3>
    <h3> Cadastre o Contato<a href="/contato/"> Aqui </a><h3>
        {%if user.usuario_pequi.is_Produtor%}
            <h2> Cadastre o produto <a href="/produto/"> Aqui </a> </h2>
        {% endif%}
<h2>Produtos</h2>
<table>
    <tr>
        <th>Nome do produto</th>
        <th>Descrição</th>
        <th>Tipo Produto</th>
        <th>Produtor</th>
        <th>Editar Dados</th>
        <th>Remover Produto</th>
      </tr>
    {% for produto in produtos_usuario %}
    <tr>
        <th>{{produto.nome_produto}}</a></th>
        <th>{{produto.descricao_produto}}</th>
        <th>{{produto.tipo_produto}}</th>
        <th>{{produto.user_produtor}}</th>
        <th><a href="{% url 'alterar_dados_produto' produto.id %}">Editar Produto</a> </th>
        <th><a href="{% url 'remover_produto' produto.id %}">Remover Produto</a> </th>
    </tr>
    {% endfor %}
</table>
{% endblock %}

