{% extends 'global_template.html' %}
{% load templatehelpers %}
{% load bootstrap5 %}
{% block content %}
  <h1>Produto</h1>
  {% if request.user.is_anonymous %}
    <h2> Faça o login como produtor para cadastrar o produto </h2>
  {% else %}
  <form action="{% url 'produto_submit' %}" enctype="multipart/form-data" method="POST" style="display: flex; justify-content:center" >
    <div class="form-control form-control-sm w-75" >
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary w-25" value="Cadastrar Produto" style="display: flex; justify-content:center">
    </div>
</form>
  {% endif %}
{% endblock %}
