{% extends 'global_template.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content%}
<body>
  <div class="container">
    <h1> Registre </h1>
    <h2> Fora da tag </h2>
    <form action="{% url 'create_usuario'%}" method= "POST" >
      <h2> Dentro da tag </h2>
        {% csrf_token %}
        {{ form.as_p }}
        {{ pequi_user_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Submit"><br>
    </form>
    <h2> voltar <h2>
    <h2><a href="/"> Inicio! </a> </h2>
  </div>
{% endblock%}
