{% extends 'global_template.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% block content%}
<body>
    <h1> Cadastre-se </h1>
    <form action="{% url 'create_usuario'%}" method= "POST" style="display: flex; justify-content:center">
      <div class="form-control form-control-sm w-75" >
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_form pequi_user_form %}
          {% comment %} {{ form.as_p }}
          {{ pequi_user_form.as_p }} {% endcomment %}

          <input type="submit" class="btn btn-primary w-25" value="Cadastrar" style="display: flex; justify-content:center">
      </div>
    </form>

    <h2> voltar <h2>
    <h2><a href="/"> Inicio! </a> </h2>
</body>
{% endblock%}
